@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

header {
    width: 150px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #C5E3FF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.topo p {
   font-size: 0.8rem;
   font-weight: 600;
   color: #493628;
}

.topo span{
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo h2 {
    font-size:1rem;
    color: #493628;
}

.nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.nav .agora a {
    border-bottom: 4px solid #FCFD96;
}

header a {
    text-decoration: none;
    color: #493628;
    font-weight: 700;
}

.user {
    text-align: center;
}

/* Dashboard */

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.dashboard .title h3{
    font-size: 1.5rem;
    color: #493628;
    border-left: 4px solid #FFD6E8;
    padding-left: 10px;
}

.dashboard-container{
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.dashboard .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.dashboard .card {
    background-color: #DDD1FE;
    border: 1px solid #6D6D6D;
    border-radius: 20px;

    width: 230px;
    height: 100px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.dashboard .cards .card:nth-child(2) {
    background-color: #C5E3FF;
}

.dashboard .cards .card:nth-child(3) {
    background-color: #D3EBC5;
}

.dashboard .cards .card:nth-child(4) {
    background-color: #FCFD96;
}

.dashboard .card i {
    font-size: 4rem;
    color: #493628;
}

.dashboard .card h4 {
    font-size: 1rem;
    color: #493628;
}

.dashboard .card p {
    font-size: 1.5rem;
    color: #493628;
    font-weight: 600;
}

/* Middle */

.middle {
    display: flex;
    gap: 20px;
}

.middle h4 {
    font-size: 1rem;
    color: #493628;
}

.to-do {
    background-color: #FCFD96;
    width: 400px;
    height: fit-content;
    max-height: 100vh;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.task-list {
    background-color: #FFD6E8;
    width: 490px;
    height: fit-content;
    max-height: 100vh;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.task-list .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list .top button {
    color: #493628;
    font-weight: 600;
    background-color: #DDD1FE;
}

button {
    background-color: #C5E3FF;
    padding: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;

    width: 100px;
    height: fit-content;
}

button a {
    font-family: 1.5rem;
    text-decoration: none;
    color: #493628;
    font-weight: 700;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-content h3 {
    color: #493628;
}

.modal-content input {
    border-radius: 10px;
    border: 2px solid #FFD6E8;
    padding: 10px;
}

.modal-content #inputData {
    color: #6D6D6D;
}

.modal-content input:focus {
    color: #6D6D6D;
    outline-color: #493628;
}

.modal-content .buttons {
    display: flex;
    justify-content: space-between;
}

.modal-content .buttons button:nth-child(1) {
    background-color: #D3EBC5;
}

.modal-content .buttons button:nth-child(2) {
    background-color: #DDD1FE;
}

.modal-content button {
    width: 100px;
    color: #493628;
    font-weight: 600;
}

/* Tarefa */

.tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    background: white;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
}

/* lado esquerdo */
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

p {
    font-size: 0.6rem;
    color: #6D6D6D;
}

/* lado direito (botões) */
.acoes {
    display: flex;
    gap: 15px;
}

/* botões */
.acoes button {
    width: fit-content;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

/* Gráficos */

.graphics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.graphic {
    width: 550px;
    height: fit-content;
    background: #ffffff;
    border: 1px solid #6D6D6D;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-top: 20px;

    text-align: center;
}

.graphic h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #493628;
}

canvas {
    max-width: 100%;
}

/* Perfil */

.perfil {
    display: flex;
    flex-direction: row;
}

.perfil .title h3{
    font-size: 1.5rem;
    color: #493628;
    border-left: 4px solid #FFD6E8;
    padding-left: 10px;
}

.perfil-container{
    flex: 1;
    flex-direction: column;
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
    gap: 60px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container .card-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login h2{
    font-size: 2rem;
    color: #493628;
    text-align: center;
}

.formulario {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #6D6D6D;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);

    width: 400px;
    min-height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtext{
    font-size: 0.7rem;
    color: #493628;
}

.subtext a {
    text-decoration: none;
    color: #493628;
    font-weight: 600;
}

.campo p {
    font-size: 1rem !important;
    font-weight: 600;
    color: #493628;
    text-align: left;
}

.campo input {
    color: #6D6D6D;

    outline: 2px solid #FFD6E8;
    border: none;
    border-radius: 20px;

    padding: 10px;
}

.campo input:focus {
    outline: 2px solid #493628 !important;
    color: #6D6D6D !important;
}

.card_erro {
    font-size: 0.7rem;
    color: red;
}


.formulario button {
    width: 150px;

    font-family: 1.5rem;
    color: #493628;
    font-weight: 600;
}